{% extends 'base.html.twig' %}

{% block title %}Editeur{% endblock %}

{% block pageTitle %}Afficher editeur{% endblock %}


{% block body %}

<div class="col-md-12">
    <!-- Advanced Tables -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="card-title">
                <div class="title">Editeur</div>
            </div>
        </div>
        <div class="panel-body">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ editeur.id }}</td>
                    </tr>
                    <tr>
                        <th>Designation</th>
                        <td>{{ editeur.designation }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ editeur.email }}</td>
                    </tr>
                    <tr>
                        <th>Pays</th>
                        <td>{{ editeur.pays }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="col-md-12">
    <!-- Advanced Tables -->
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="d-flex">
                <a href="{{ path('editeur_index') }}" class="btn btn-default mr-20">back to list</a>

                <a href="{{ path('editeur_edit', {'id': editeur.id}) }}" class="btn btn-warning mr-20">edit</a>

                {{ include('editeur/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
</div>

{% endblock %}