{% extends 'base.html.twig' %}

{% block title %}Livre{% endblock %}

{% block pageTitle %}Afficher Livre{% endblock %}


{% block body %}

<div class="col-md-12">
    <!-- Advanced Tables -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="card-title">
                <div class="title">Livre</div>
            </div>
        </div>
        <div class="panel-body">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ livre.id }}</td>
                    </tr>
                    <tr>
                        <th>Titre</th>
                        <td>{{ livre.titre }}</td>
                    </tr>
                    <tr>
                        <th>Isbn</th>
                        <td>{{ livre.isbn }}</td>
                    </tr>
                    <tr>
                        <th>Prix</th>
                        <td>{{ livre.prix }}</td>
                    </tr>
                    <tr>
                        <th>Date_edition</th>
                        <td>{{ livre.dateEdition ? livre.dateEdition|date('Y-m-d') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Nbr_examplaire</th>
                        <td>{{ livre.nbrExamplaire }}</td>
                    </tr>
                    <tr>
                        <th>Photo</th>
                        <td>{{ livre.photo }}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<div class="col-md-12">
    <!-- Advanced Tables -->
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="d-flex">
                <a href="{{ path('livre_index') }}" class="btn btn-default mr-20">back to list</a>

                <a href="{{ path('livre_edit', {'id': livre.id}) }}" class="btn btn-warning mr-20">edit</a>

                {{ include('livre/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
</div>

{% endblock %}