{% extends 'base.html.twig' %}

{% block title %}Auteur index{% endblock %}

{% block pageTitle %}Auteurs List{% endblock %}

{% block body %}

<div class="col-md-12">
    <!-- Advanced Tables -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Auteurs</h2>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Prenom</th>
                            <th>Nom</th>
                            <th>Date_naissance</th>
                            <th>Pays</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for auteur in auteurs %}
                        <tr>
                            <td>{{ auteur.id }}</td>
                            <td>{{ auteur.prenom }}</td>
                            <td>{{ auteur.nom }}</td>
                            <td>{{ auteur.dateNaissance ? auteur.dateNaissance|date('Y-m-d') : '' }}</td>
                            <td>{{ auteur.pays }}</td>
                            <td>
                                <a href="{{ path('auteur_show', {'id': auteur.id}) }}" class="btn btn-info">show</a>
                                <a href="{{ path('auteur_edit', {'id': auteur.id}) }}" class="btn btn-warning">edit</a>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="6">no records found</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <a href="{{ path('auteur_new') }}" class="btn btn-success">Create new</a>
        </div>
    </div>
</div>


{% endblock %}